<div class="container">
    <div class="row top-m">
        <div class="col">
            <h4 class="form-label">Entrar em uma sessão existente</h4>
            <form  (ngSubmit)="criarSala()">
                <div class="mb-3">
                  <label class="form-label">Nome usuário</label>
                  <input type="text" class="form-control" aria-describedby="entre com um nome" placeholder="ex: ana laura">
                </div>
                <div class="mb-3">
                  <label class="form-label">Nome da sala</label>
                  <input type="texy" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Criar sala</button>
            </form>
        </div>
        <div class="col">
            <h4 class="form-label">Entrar em uma sessão existente</h4>
            <form>
                <div class="mb-3">
                  <label class="form-label">Nome usuário</label>
                  <input type="text" class="form-control" aria-describedby="entre com um nome" placeholder="ex: ana laura">
                </div>
                <div class="mb-3">
                  <label class="form-label">Código da sala</label>
                  <input type="texy" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Entrar na sala</button>
            </form>
        </div>
    </div>
</div>


